.app-container {
    min-height: 350px;
}

.preview {
    max-width: 200px;
  }

@import './styles/Login.css';
@import './styles/AdminLogin.css';

body {
  font-family: 'Roboto', sans-serif;
}


/* LIST */
/* ================== */

.files-dropzone-list {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border: 1px dashed #D3D3D3;
  cursor: pointer;
}

.files-buttons {
  border-top: 1px solid #D3D3D3;
  cursor: pointer;
}
.files-button-submit {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid #D3D3D3;
}
.files-button-submit:before {
  content: "Submit"
}
.files-button-clear {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 50%;
  box-sizing: border-box;
}
.files-button-clear:before {
  content: "Clear"
}
.files-list {
  width: 300px;
}
.files-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.files-list li:last-child {
  border: none;
}
.files-list-item {
  height: 60px;
  padding: 10px 0px 10px 10px;
  /*border-bottom: 1px solid #D3D3D3;*/
}
.files-list-item-content {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  width: calc(100% - 130px);
}
.files-list-item-content-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.files-list-item-content-item-1 {

  line-height: 30px;
}
.files-list-item-content-item-2 {

  line-height: 20px;
}
.files-list-item-preview {
  height: 60px;
  width: 60px;
  float: left;
}
.files-list-item-preview-image {
  height: 100%;
  width: 100%;
}
.files-list-item-preview-extension {
  text-align: center;
  line-height: 60px;
  color: #FFF;
  background-color: #D3D3D3;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.files-list-item-remove {
  height: 60px;
  width: 60px;
  float: right;
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDEyLjgzbC0yLjgzLTIuODMtMTEuMTcgMTEuMTctMTEuMTctMTEuMTctMi44MyAyLjgzIDExLjE3IDExLjE3LTExLjE3IDExLjE3IDIuODMgMi44MyAxMS4xNy0xMS4xNyAxMS4xNyAxMS4xNyAyLjgzLTIuODMtMTEuMTctMTEuMTd6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+) no-repeat center center;
  background-size: 30px 30px;
}
.files-list-item-remove-image {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-right: 10px;
  float: right;
}

.Supporticon .active , .Supporticon .active:hover{
  border-radius: 60px;
  border: 2px solid var(--WG-Blue-700, #0059B3);
  background: var(--WG-Blue-700, #0059B3);
  color:#ffffff;
  padding: 5px;
  }
  .Supporticon .active span{
    color:#fff;
  }
  .Supporticon .active span.MuiIconButton-loadingIndicator{
    background: url(./assets/images/headseticon-white.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    text-align: left;
    margin-left: -37px;
    }


/* GALLERY */
/* ================== */

.files-dropzone-gallery {
  padding: 10px;
  border: 1px dashed #D3D3D3;
  min-height: 300px;
  width: 500px;
}
.files-gallery-item {
  height: 80px;
  margin: 5px;
}


.files-dropzone-active {
  border: 1px solid lightgreen;
  color: lightgreen;
}

:root {
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
}

.zoom125 .login-container ,.zoom150 .login-container ,.zoom100 .login-container{
  width: 1200px;
}

.zoom100 {
  zoom: 100%;
}
.zoom125 {
  zoom: 125%; 
}
.zoom150{
  zoom: 150%;
}
.zoom{
  display: none;
}
.error-text {
  color: red;
}

.editlabel label{
  transform: translate(14px, -9px) scale(1);
  }

  .MuiBadge-badge{
    display: none !important;
  }

  .custom-table-container .MuiTableCell-stickyHeader {
    position: sticky;
    background: white;
    z-index: 1;
  }
  
  .custom-table-container .MuiTableCell-stickyHeader[data-sticky="left"] {
    left: 0;
  }
  
  .custom-table-container .MuiTableCell-stickyHeader[data-sticky="right"] {
    right: 0;
  }
  
  .header-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  
  .header-scroll > div {
    display: inline-block;
    min-width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
  }

  .admincontent .containedLoginbuttonleft .Loginbutton.buttonmarginleft-20{
    margin-left: 20px;
}


.service-card-title {
  color: var(--Gray-700, #4D4C52);
  font-family: "ITC Avant Garde Gothic Std Md";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
}

.service-card-heading {
  color: var(--WG-Blue-700, #0059B3);
  text-align: center;
  font-family: "ITC Avant Garde Gothic Std Md";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.service-card-body-text {
  color: var(--Gray-700, #4D4C52);
  text-align: center;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.card-last-item-content {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  padding: 20px !important;
}

.card-last-item {
  justify-content: center !important;
  align-items: center !important;
}

.editicon {
  border-radius: 32px;
  border: 0.8px solid var(--WG-Blue-100, #DFEDFF);
}

.runningicon {
  width: 20px;
  height: 20px;
}

.service-card-detail-container {
  background-color: #fff !important;
}

.calender-widht {
  width: 319px;
}

.card-layout {
  border-radius: 16px;
  border: 1px solid var(--WG-Blue-100, #DFEDFF);
  background: var(--White, #FFF);
  box-shadow: 0px 1px 1px 0px rgba(0, 89, 179, 0.25);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.css-1xgnz6y-MuiStack-root{
  padding: 0px !important;
}

.filterButtonDisabled{
  color:#84848c
}
.filterButton{
  color: white;
}
.UploadedFilesSection.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.UploadedFile .MuiIconButton-root[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.MuiIconButton-root[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
  height:1.3em !important;
}

.userprofilelist .fcreport-line {
  font-size: 13px !important;
  font-family: "ITC Avant Garde Gothic Std Md", sans-serif;
  font-weight: normal;
  color: #0A3B70;
  padding-bottom: 4px;
}

.userprofilelist .fcreport-line span {
  font-size: 13px !important;
  font-weight: normal;
  text-transform: none;
  color: #0059B3;
}
.Stackalert .MuiAlert-message{
  width: 100%;
}
.Stackalert .alertitle{
  color: var(--Red-950, #450A0A);
font-family: "ITC Avant Garde Gothic Std Md";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.Stackalert .alertdata{
  color: var(--Red-950, #450A0A);
font-family: "Proxima Nova Rg";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
body .Stackalert{
background:#FECACA;
}

.PipeLinettext textarea{
  border-radius: 2px;
  border: 2px solid var(--WG-Blue-100, #757677);
  padding:15px;
}
.PipeLinettext textarea:focus{
  border-color: var(--WG-Blue-700, #0059B3) !important;
  border-width: 2px;
  
}

.clear-both{
clear: both;
}

.Foooter{
margin-top: 20px;
}
.Foooter li{
  float: left;
  text-decoration: none;
  list-style: none;
  padding-right: 15px;
}
.wrappedlabel{
  margin: 20px 0px;
}
.widthfilter{
  width: 100%;
  margin-bottom: 15px;
}

